.hot-sportea span.sportea-trademark-sup,
button.header-drawer__link.iced-sportea-cold-brewed span.sportea-trademark-sup {
  left: 0% !important;
}

.ing-item h6 {
  font-size: 30px;
  font-weight: 400 !important;
}

.ing-overlay p {
  padding: 10px 0px;
}

.ing-item .parent_prop span {
  padding: 4px 8px;
}

@media(max-width:600px) {
  .sportea-review-rating img {
    margin: 0 auto 0 0 !important;
  }
}

.contact-section .form-inner .theme-btn:hover:before {
  background:var(--secondary) !important;
}
.contact-section .form-inner .theme-btn:hover {
  background:var(--secondary) !important;
  color:#fff !important;
}