/* Base */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-body-family);
  word-break: break-word;
}
.page-title {
  font-size: 2rem;
}

.password-hinshts .password-header {
  border-bottom: 2px solid rgb(var(--color-background));
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}
.password-hinshts .password-header h1 {
  color: rgb(var(--color-foreground));
}

.email-signup-banner.banner {
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  padding: 150px 0;
}

.newsletter__wrapper {
  background: rgb(var(--color-secondary-background));
  border: 1px solid rgb(var(--color-secondary-background));
  color:  rgb(var(--color-secondary-foreground));
}
.area-for-password {
  background: rgb(var(--color-secondary-background));
  border: 1px solid rgb(var(--color-secondary-background));
  color:  rgb(var(--color-secondary-foreground));
}
.newsletter-form__field-wrapper .field__input,
.area-for-password .password-form .password-field.field input {
  background: transparent;
  border: 1px solid rgb(var(--color-secondary-foreground));
  color: rgb(var(--color-secondary-foreground));
}
.newsletter-form__field-wrapper .field__input::placeholder,
.area-for-password .password-form .password-field.field input::placeholder {
  color: rgb(var(--color-secondary-foreground));
}

.newsletter-form__field-wrapper button,
.password-button {
  background: rgb(var(--color-button)) !important;
  color: rgb(var(--color-button-text)) !important;
}
.newsletter-form__field-wrapper button svg{
  color: rgb(var(--color-button-text));
}

.newsletter-form__field-wrapper button:hover,
.password-button:hover {
  background: rgb(var(--color-button-hover));
  color: rgb(var(--color-button-text-hover));
}
.newsletter-form__field-wrapper button:hover svg{
  color: rgb(var(--color-button-text-hover));
}


/* ogiin */
@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}

.password-modal__content-heading {
  font-size: 1.8rem;
  font-weight: 400;
}

@media only screen and (min-width: 750px) {
  .password-modal__content-heading {
    font-size: 1.8rem;
  }
}

/* Password Section */

.full-height {
  height: 100%;
}

.password {
  height: 100%;
}

.password-link {
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}

.password-link svg {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

.password-modal__content {
  padding: 4.5rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.password-modal__content-heading {
  font-size: 1.8rem;
  font-weight: 400;
}

@media only screen and (min-width: 750px) {
  .password-modal__content-heading {
    font-size: 1.8rem;
  }
}

.password-modal .password-form {
  max-width: 50rem;
}

.password-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
}

.password-field .form__message {
  margin-top: 1.5rem;
}

.password-button {
  margin-top: 3rem;
  width: 100%;
  cursor: pointer;
}
h2.form__message {
  font-size: 15px;
}
@media only screen and (max-width: 749px) {
  .password-field--error + .password-button {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 750px) {
  .password-button {
    margin-top: 0;
    margin-left: 2rem;
    width: auto;
    align-self: start;
  }
}

.password-logo {
  width: 100%;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 750px) {
  .password-logo {
    margin-bottom: 0;
  }
}

.password-heading {
  margin-top: 5rem;
  font-weight: 400;
}



.password-main > section:only-child .newsletter__wrapper:not(.email-signup-banner__box) {
  width: 100%;
}

.password-main > section:only-child > :not(.newsletter--narrow) > .newsletter__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password__footer-text a {
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
}

.password__footer-login {
  margin-top: 1.2rem;
  padding-bottom: 4rem;
}


.password__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

hr {
  margin: 0 !important;
}

.list-social:not(:empty) + .password__footer-caption {
  margin-top: 3rem;
}

.password__footer-caption a {
  padding: 0;
}

.modal__toggle,
.modal__close-button {
  list-style-type: none;
}

details[open] .modal__toggle,
.modal__close-button {
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
  padding: 0.8rem;
}

.no-js .modal__close-button {
  display: none;
}

.no-js .modal__toggle {
  z-index: 2;
}

.modal__toggle::-webkit-details-marker {
  display: none;
}

details.modal .modal__toggle-close {
  display: none;
}

details[open].modal .modal__toggle-close {
  cursor: pointer;
  display: flex;
  padding: 0.8rem;
  z-index: 1;
}

details[open].modal .modal__toggle-close svg,
.modal__close-button svg {
  height: 1.7rem;
  width: 1.7rem;
}

details[open].modal .modal__toggle-close:hover {
  opacity: 0.75;
}

.js details[open].modal .modal__toggle-close {
  display: none;
}

details.modal .modal__toggle-open {
  display: flex;
}

.no-js details[open].modal .modal__toggle-open {
  display: none;
}

.password-header {
  padding: 20px 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0px;
}



.password-header details-modal {
  flex-shrink: 0;
}

.password-content {
  text-align: center;
}

@media only screen and (max-width: 749px) {
  .password-content {
    margin-bottom: 1.8rem;
    margin-top: 1rem;
  }
}

.shopify-name {
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.icon-shopify {
  width: 7rem;
  height: 2rem;
  vertical-align: top;
}

password-modal {
  justify-self: flex-end;
  grid-column: 3;
}
.password__footer-text a {
  font-weight: 600;
}
.visually-hidden {
  display: none;
}

password-modal .password-modal .modal__toggle { 
  display: flex-start;
  justify-content: flex-start;
  padding: 7px 10px;
  border-radius: 3px;
  align-items: center;
  cursor: pointer;
}
.newsletter-form__field-wrapper button {
  padding: 12px 30px;
  border-radius: 3px;
  border: 0px !important;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 56px;
}
.newsletter-form__field-wrapper button svg {
  width: 1em;
  height: 1em;
  font-size: 20px;
}
.newsletter-form__field-wrapper label {
  width: 100%;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 7px;
  text-align: left;
}
.newsletter-form__field-wrapper input {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  transition: all .5s ease;
}

.modal__content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__close-button{
  cursor: pointer;
}
.password-modal__content {
  max-width: 600px;
  margin: 0 auto;
  height: auto;
  border-radius: 10px;
}
.password-modal__content input {
  position: relative;
  display: block;
  width: 100%;
  height: 46px;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all .5s ease;
}
.password-modal__content label {
  width: 100;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 7px;
  text-align: left;
}
.password-modal__content .password-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  z-index: 1;
  transition: all .5s ease;
  margin-top: 25px;
}
.password-modal__content .modal__toggle_item_close {
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
  padding: 0.8rem;
  border: 0;
  cursor: pointer;
}
.password-modal__content .modal__toggle_item_close svg {
  width: 1em;
  height: 1em;
  font-size: 15px;
  cursor: pointer;
}
.password-field--error 
 span.form__message {
    display: flex;
    align-items: center;
}
.password-field--error span.form__message svg {
  width: 1em;
  height: 1em;
  font-size: 18px;
  margin-right: 15px;
}
.password-hinshts .password-header {
  text-align: center;
}

.banner__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.area-for-password {
  padding: 30px;
  border-radius: 5px;
}

.area-for-password h2 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: rgb(var(--color-secondary-foreground));
}
.email-signup-banner__box .email-signup-banner__heading.h1 {
  color: rgb(var(--color-secondary-foreground));
  font-weight: 700;
}

.area-for-password .password-form {
  margin: 0;
}

.area-for-password .password-form .password-field.field {
  font-size: 17px;
  width: 100%;
  flex-wrap: wrap;
}

.area-for-password .password-form .password-field.field label {
  width: 100%;
}

.area-for-password .password-form .password-field.field input {
  width: 100%;
}
.area-for-password .password-form .password-field.field input {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}

.password-button {
  margin: 0;
  padding: 15px 35px;
  border: 0;
  border-radius: 5px;
  height: 56px;
}
.password-button {
  margin-top: 15px;
}

.password__footer-login {
  font-size: 15px;
  color: rgb(var(--color-foreground));
}

.password__footer-login a {
  font-size: 15px;
  color: rgb(var(--color-foreground));
}
.password__footer-login a:hover {
  text-decoration: none;
}



small.password__footer-caption.password__footer-text {
  color: rgb(var(--color-foreground));
  font-size: 16px;
  text-align: center;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

small.password__footer-caption.password__footer-text svg path {
  fill: rgb(var(--color-foreground));
}
.newsletter__subheading.rte.body p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.newsletter__wrapper {
  border-radius: 5px;
  padding: 30px 30px;
  margin: 0;
  text-align: center;
}
.password__footer{
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}
.password__footer {
  padding: 50px 20px;
  padding-bottom: 0;
}
.password-field--error span.form__message {
  font-size: 13px;
  margin-top: 5px;
}
.newsletter-form__message {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 15px;
}

.newsletter-form__message svg {
  width: 1em;
  height: 1em;
  font-size: 20px;
  margin-right: 7px;
}
.newsletter__subheading.rte {
  margin-bottom: 15px;
  font-size: 17px;
}